<?xml version="1.0"?>
<launch>
    <arg name="agent_num" value="2"/>    
    <group ns="uav0">
        <include file="$(find drone_detection)/launch/multi_detection.launch">
        <arg name="id" value="0"/>
        <arg name="agent_num" value="$(arg agent_num)"/>
        <arg name="ego_port" default="8080"/>
	    <arg name="next_port" default="8083"/>
        </include>
    </group>
    <group ns="uav1">
        <include file="$(find drone_detection)/launch/multi_detection.launch">
        <arg name="id" value="1"/>
        <arg name="agent_num" value="$(arg agent_num)"/>
        <arg name="ego_port" default="8083"/>
	    <arg name="next_port" default="8080"/>
        </include>
    </group>
    <!-- <group ns="uav2">
        <include file="$(find drone_detection)/launch/multi_detection.launch">
        <arg name="id" value="2"/>
        </include>
    </group> -->
</launch>