<?xml version="1.0"?>
<launch>    
    <group ns="uav0">
        <include file="$(find drone_detection)/launch/multi_detection.launch">
        <arg name="id" value="0"/>
        </include>
    </group>
    <group ns="uav1">
        <include file="$(find drone_detection)/launch/multi_detection.launch">
        <arg name="id" value="1"/>
        </include>
    </group>
    <!-- <group ns="uav2">
        <include file="$(find drone_detection)/launch/multi_detection.launch">
        <arg name="id" value="2"/>
        </include>
    </group> -->
</launch>